* {
  font-family: "Manrope", sans-serif;
}

body {
  padding: 5rem;
}

a {
  text-decoration: none;
}

.title,
.desc,
.photos,
.back-text {
  display: flex;
  justify-content: center;
}

.title {
  font-size: xx-large;
}

.desc {
  font-size: x-large;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}

.photos-box {
  padding: 1rem;
}
.photos-box--img {
  height: 300px;
  width: auto;
  border-radius: 15px;
  transition: 0.3s;
}

.photos-box--img:hover {
  scale: 1.03;
}

/* Material Icon Button */
#theme-toggle {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #333;
}

body.dark-mode #theme-toggle {
  color: #eee;
}

/* Light Theme (default) */
body {
  background-color: #fff;
  color: #111;
}

/* Dark Theme */
body.dark-mode {
  background-color: #111;
  color: #eee;
}

body.dark-mode .photos-box--img {
  filter: brightness(0.9);
}

/* PHOTO PAGE DEDICATED */
#photo-container {
  text-align: center;
  margin-top: 2rem;
}
#photo {
  max-width: 90%;
  height: auto;
  border-radius: 12px;
}
#description {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.back-text {
  font-size: 2rem;
  padding-top: 2rem;
  color: inherit;
  transition: 0.3s;
}
.back-text:hover {
  font-size: 2.2rem;
}

/* contact me */
.contact-link {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
  color: inherit;
  transition: 0.3s;
}
.contact-link:hover {
  opacity: 0.7;
  scale: 1.01;
}
body.dark-mode .contact-link {
  color: #eee;
}

.divisor {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 400px;
}

/* RRRRRRRRRRRRRRRRRRRRESPONSIVE */
@media (max-width: 768px) {
  body {
    padding: 2rem;
  }
  .photos-box {
    padding: 0.5rem;
  }

  .photos-box--img {
    width: 90vw;
    height: auto;
    max-width: 500px;
  }

  .title {
    font-size: x-large;
    text-align: center;
  }

  .desc {
    font-size: large;
    text-align: center;
  }

  .title {
    margin-top: 4rem;
  }
  .contact-link {
    padding-top: 0.3rem;
  }

  .divisor {
    width: 200px;
  }
}
